
/* 네비 */
.pic {
    width: 151px;
    height: 45px;
}
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: top 0.6s;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: white;
    box-sizing: border-box;
    color: #000;
    display: flex;
}
.nvidia-app, .drivers, .news, .support {
    color: #666666;
}

.top-links a{
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
}


body {
    padding-top: 200px;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #121212;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    font-size: 24px;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
label {
    display: block;
    margin-bottom: 5px;
}
.manualdriversearchptag {
    color: #CCCCCC;
}
select, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.form-group p {
    margin-left: auto;
    margin-right: 10px;
}
select {
    margin-right: 200px;
    width: 50%;
    height: 20%;
    background-color: #1A1A1A;
    color: #666666;
    border: 2px solid #666666;
}
select option {
    color: #FFF;
}
select option:hover {
    background-color: #666666;
}
/* 안먹히노 */
.nav-hidden {
    top: -200px;
}
.main{
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
}
.main-left {
    flex: 1;
    background-color: #000;
    flex-direction: column;
    margin-left: 100px;
}
.ad1, .ad2, .ad3 {
    margin: 20px;
}
.divider {
    width: 1px;
    background-color: #555;
    margin: 0 50px;
}
.main-right {
    flex: 3;
    background-color: #000;
    padding: 20px;
    margin-right: 100px;
}
.lol {
    width: 250px;
    height: 250px;
}
.Geforce-Drivers {
    margin-left: 18%;
    font-size: 60px;
    text-align: center;
}
.auto-driver-updates-button {
    margin-bottom: 40px;
    width: 200px;
    height: auto;
}
.bottom {
    display: flex;
    flex-direction: row;
    background-color: #000;
}
.bottom-divider {
    height: 1px;
    width: 90%;
    background-color: #555;
    margin: 50px auto;
}
.bottom-left {
    flex: 1;
    background-color: #000;
    padding: 20px;
}
.bottom-right {
    flex: 2;
    background-color: #000;
    padding: 20px;
}
.driver-forums {
    margin-left: 80px;
}
.bottom-divider-horizontal {
    width: 1px;
    background-color: #555;
    margin: 0 50px;
}
.visit-forum {
    color: grey;
    text-decoration: none;
    font-weight: bold;
}
.top-nav-left {
    display: flex;
    align-items: center;
}
.lasthorizontaldivier {
    height: 1px;
    width: 90%;
    background-color: #555;
    margin: 50px auto;
}
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 40px 20px;
}

.footer-column {
    flex: 1;
    max-width: 300px;
    margin: 0 20px;
}

.footer-column h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin: 10px 0;
}

.footer-column ul li a {
    text-decoration: none;
    color: #8bc34a;
    font-weight: 400;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}
.under-nav {
    position: fixed;
    top: 59px;
    z-index: 998;
    background-color: #000;
    transition: top 0.3s;
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
    align-items: center;
    width: 100%;
}
.top-nav.nav-hidden + .under-nav {
    top: 0px;
}
.GeForce {
    display: flex;
}
.Products:hover, .games-tech:hover {
    background-color: #000;
    color: white;
}
.Products:active, .games-tech:active {
    background-color: #000;
    color: white;
}
.Products, .games-tech, .nvidia-app, .drivers, .news, .support {
    display: flex;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
}
.Products, .games-tech {
    display: flex;
    position: relative;
    background-color: #000;
    color: #666666;
}
.dropdown-menu {
    position: relative;
    display: inline-block;
}
.dropdown-menu:hover .dropdown {
    display: block;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: #666666;
    min-width: 250px;
    box-shadow: 0px 8px 16px;
    z-index: 999;
}
.dropdown a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: grey;
    background-color: white;
}
.dropdown a:hover {
    background-color: #fff;
    color: black;
}
.nvidia-app:hover, .drivers:hover, .news:hover, .support:hover {
    color: #00b907;
}
.under-nav p {
    cursor: pointer;
    text-align: center;
}
.top-nav-right {
    flex-direction: row;
    display: flex;
    width: auto;
    align-items: center;
}
.top-links {
    text-align: center;
}
.top-links a {
    color: grey;
}
.top-links a:hover {
    color: #000;
}
.top-nav-logos{
    display: flex;
    width: 35px;
    height: 35px;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 150px;
}
.top-links {
    display: flex;
}
.socials {
    color: grey;
}
.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}
.socials-icons {
    text-align: center;
}
.followgeforce {
    margin-right: 30px;
}
.social-icons i {
    margin-right: 10px;
    font-size: 25px;
}
.social-icons i:hover {
    color: #FFF;
    cursor: pointer;
}
.whiteboard {
    background: #FFF;
    color: grey;
    padding: 30px 100px;
}
.whiteboard-nvidia-logo {
    width: 110px;
    height: auto;
}
.whiteboard-text-div {
    display: flex;
    flex-direction: row;
}
.whiteboard-text {
    cursor: pointer;
}
.whiteboard-text:hover {
    color: #000;
}
.copyright {
    margin: 0 0;
}
.search {
    display: flex;
    background-color: #88B537;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 200px;
    margin-left: auto;
    width: 20%;
}
.search:hover {
    background-color: #96b858;
}
select {
    margin-right: 200px;
    width: 50%;
    height: 20%;
    background-color: #1A1A1A;
    color: #666666;
    border: 2px solid #666666;
}